- const cHeader = ['container', 'site-header'];
- const cNav = ['navbar', 'navbar-expand-md', 'navbar-dark', 'rounded-bottom'];
- const cNavbar = ['navbar-nav', 'ml-auto'];


header(class=cHeader)

  nav(class=cNav)

    - const homepageUrl = site.urlFor('index');
    a.p-4(href=`${homepageUrl}` class='brand-logo')
      p.m-0.navbar-brand= brand.title
      p.navbar-slogan.text-right= brand.slogan

    section(class=cNavbar)
      - const navbar = site.getNavbar();
      each page in navbar
          a.nav-item.nav-link.mx-3(href=`${page.path}` class=`${ page.isDisabled ? 'disabled' : '' }`)
            =page.name
