header

  - const navClasses = ['navbar', 'navbar-expand-md', 'navbar-dark', 'bg-dark']
  nav(class=navClasses)

    a(href='/')
      p.navbar-brand= brand.title
      p.navbar-slogan= brand.slogan

    ul.navbar-nav.ml-auto

    each page in navigation
      li.nav-item
        a.nav-link(href=`${page.path}` class=`${ page.isDisabled ? 'disabled' : '' }`)
          =page.name
