extends layout

block content
  h2= about.name
  h3= page.title

  h5 Personal Background
  p= about.background.personal

  h5 Professional Background
  p= about.background.professional

  h5 Academic Background
  p= about.background.academic

  h5 Computer Platform
  p= about.primary_platform

  h5 Courses
  each course in about.courses
    li= `${course.name} -- ${course.reason}`

  h5 How To Remember Me
  p= about.remember_me

  h5 Links
  each link in about.links
    li
      a(href=`${link.url}`)
        = link.name
