extends layout

block content

  - const cSection = ['section-firstclass','border', 'rounded'];

  section(class=cSection)
      h5= page.title
      p= about.introduction

  section(class=cSection)
    h5 Personal Background
    p= about.background.personal

  section(class=cSection)
    h5 Professional Background
    p= about.background.professional

  section(class=cSection)
    h5 Academic Background
    p= about.background.academic

  section(class=cSection)
    h5 Computer Platform
    p= about.primary_platform

  section(class=cSection)
    h5 Courses
    ul
      each course in about.courses
        li= `${course.name} -- ${course.reason}`

  section(class=cSection)
    h5 How To Remember Me
    p= about.remember_me

  section(class=cSection)
    h5 Links
    ul
      each link in about.links
        li
          a(href=`${link.url}`)
            = link.name
